<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
     <!-- 注册组件扫描器 -->
     <context:component-scan base-package="com.ego.*.controller"/>
     <!-- 注册springMVC注解驱动 -->
     <mvc:annotation-driven/>
     <!-- 文件上传解析器 -->
     <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"></bean>
     <!-- 静态资源 放行-->
     <mvc:resources location="/WEB-INF/images/" mapping="/images/**"></mvc:resources>
     <mvc:resources location="/WEB-INF/js/" mapping="/js/**"></mvc:resources>
     <mvc:resources location="/WEB-INF/css/" mapping="/css/**"></mvc:resources>

     <!--注册拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.ego.cart.interceptors.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

     <!-- 加载vsftpd属性文件 -->
     <context:property-placeholder location="classpath:vsftpd.properties"/>
</beans>