<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd






        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
    <!--注册CloudSolrServer-->
    <bean id="cloudSolrServer" class="org.apache.solr.client.solrj.impl.CloudSolrServer">
        <constructor-arg index="0" value="172.16.10.15:2181,172.16.10.15:2182,172.16.10.15:2183"/>
        <property name="defaultCollection" value="collection1"/>
    </bean>

    <!--注册组件扫描组-->
    <context:component-scan base-package="com.ego.search.dao.impl"/>
</beans>